In [1]:
import preprocessing_py as prep
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.pipeline import Pipeline
import numpy as np
import pandas as pd
from IPython.display import display , Markdown

In [2]:
with open('news.txt') as f : 
    data = f.readlines()
len(data)

153795

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer( max_df=0.95, 
                             min_df=2)

from sklearn.decomposition import TruncatedSVD
svd_model = TruncatedSVD(n_components=n_components,
                         algorithm='randomized',
                         n_iter=10)

from sklearn.pipeline import Pipeline
svd_transformer = Pipeline([('tfidf', vectorizer), 
                            ('svd', svd_model)])

svd_matrix = svd_transformer.fit_transform(tuned_data)

In [13]:
# raw documents to tf-idf matrix: 
vectorizer = TfidfVectorizer( use_idf=True, 
                             smooth_idf=True)
# SVD to reduce dimensionality: 
svd_model = TruncatedSVD(n_components=5,
                         algorithm='randomized',
                         n_iter=10)
# pipeline of tf-idf + SVD, fit to and applied to documents:
svd_transformer = Pipeline([('tfidf', vectorizer), 
                            ('svd', svd_model)])
# svd_matrix can later be used to compare documents, compare words, or compare queries with documentsa
tuned_data = [prep.tuning_data(i) for i in data[:11]]
tuned_data = list(set([i for i in tuned_data if i]))
svd_matrix = svd_transformer.fit_transform(tuned_data)

In [14]:
print(svd_matrix.shape)
svd_matrix

(10, 5)

array([[ 0.34712151,  0.12954876,  0.54431669, -0.06233935, -0.02189774],
       [ 0.40517178, -0.42427849, -0.36255556, -0.20993877, -0.11100666],
       [ 0.30186955, -0.26437039,  0.05372284,  0.16669009,  0.65410077],
       [ 0.31137037,  0.286158  , -0.42950586,  0.3366637 , -0.21070349],
       [ 0.28203633,  0.23258427, -0.20263008,  0.65274374,  0.05949034],
       [ 0.39836327,  0.42027015, -0.01682285, -0.36043111, -0.03017221],
       [ 0.39309715,  0.43420503,  0.1111231 , -0.27149437,  0.20598998],
       [ 0.27873656, -0.33337754,  0.31087302,  0.23425071,  0.21295432],
       [ 0.19610264, -0.1167347 ,  0.46934498,  0.27852217, -0.59686919],
       [ 0.42811293, -0.39766358, -0.19399468, -0.23860435, -0.25066255]])

In [16]:
cluster_ls = []
for idx in range(len(svd_matrix)) :
    cluster_ls.append((tuned_data[idx],np.argmax(svd_matrix[idx]),np.max(svd_matrix[idx])))

new_ls = [i[0] for i in cluster_ls]
cat_ls = [i[1] for i in cluster_ls]
score_ls = [i[2] for i in cluster_ls]

lsa_df = pd.DataFrame()
lsa_df['news'] = new_ls
lsa_df['cat'] = cat_ls
lsa_df['score'] = score_ls

for i in range(5) :
    if \
    len(lsa_df[lsa_df['cat'] == i].sort_values('score',ascending=False).head(2)) == 0 :
        display(Markdown('### There is no data which belong to {}-th cat!'.format(i+1)))

    else :display(lsa_df[lsa_df['cat'] == i].sort_values('score',ascending=False).head(2))

                                                news  cat     score
9  신임 박인서 사장이 공사 취임식에서 인사말을 하고 있다.=인도시공사인도시공사는 신임...    0  0.428113
1  산림청산림청 신임 차장에 박종호(56.사진) 기획조정관이 임명됐다. 11일 산림청에...    0  0.405172

                                                news  cat     score
6  검찰이 과거 국가안전기획부와 공모해 고(故) 김근태 의원(당시 민청련 의장)의 고문...    1  0.434205
5  ‘임원 사퇴 동향 문건’이라며 공개… “올 1월 민정수석실에 보고” 주장靑 “曺수석...    1  0.420270

                                                news  cat     score
0  김영문 관세청장=관세청이 재 600달러인 휴대품 면세한도를 상향을 고려해야 한다는 ...    2  0.544317
8  박능후 보건복지부 장관이 11일 서울 여의도 국회에서 열린 보건복지위원회 국정감사에...    2  0.469345

                                                news  cat     score
4  반응속도 2배 향상해 보다 자연스러운 필기 경험 제공하는 ‘S펜’고급스러우면서도 단...    3  0.652744
3  편의점 GS25가 매출 부진 점포에 대해 해약 수수료 없이 가맹점을 폐업할 수 있는...    3  0.336664

                                                news  cat     score
2  한밭대학교는 이달까지 매주 수요일마다 한밭도서관에서 지역청년을 위한 찾아가는 진로·...    4  0.654101