# 2-2 파이썬 프로그래밍 기초_파이썬 프로그래밍
### 기본 문법

##### - 세미콜론
##### - 주석

In [1]:
# Hello, World! 출력
print('Hello, World!')

Hello, World!

##### - 들여쓰기

In [2]:
a = 10
if a == 10:
print('10입니다.')    # 들여쓰기 문법 에러

IndentationError: expected an indented block (<ipython-input-2-0f78efe8ee39>, line 3)

In [3]:
a = 10
if a == 10:
    print('10입니다.')    # 올바른 들여쓰기

10입니다.

In [4]:
# 코드블럭
if a == 10:
    print('10')
    print('입니다')

10
입니다

##### - 데이터 타입

In [5]:
type(3)

int

In [6]:
type("3")

str

### 컨테이너
##### - 리스트

In [7]:
a = [10,20,30,40,50]
a

[10, 20, 30, 40, 50]

In [8]:
person = ['sally', 23, 165, [90,80,100], True]
person

['sally', 23, 165, [90, 80, 100], True]

In [9]:
a = list(range(10))    # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
b = list(range(5,12))    # [5, 6, 7, 8, 9, 10, 11]
b

[5, 6, 7, 8, 9, 10, 11]

In [11]:
c = list(range(-4,10,2))    # [-4, -2, 0, 2, 4, 6, 8]
c

[-4, -2, 0, 2, 4, 6, 8]

In [12]:
c[0] = 5    # [5, -2, 0, 2, 4, 6, 8]
c

[5, -2, 0, 2, 4, 6, 8]

In [13]:
c.insert(2,1)    # [5, -2, 1, 0, 2, 4, 6, 8]
c.append(10)    # [5, -2, 1, 0, 2, 4, 6, 8, 10]
c.extend([9,8])    # [5, -2, 1, 0, 2, 4, 6, 8, 10, 9, 8]
c.remove(-2)    # [5, 1, 0, 2, 4, 6, 8, 10, 9, 8]

##### - 튜플

In [14]:
a = (5,10,15,20)
a

(5, 10, 15, 20)

In [15]:
a = 1,2,3,4,5
a

(1, 2, 3, 4, 5)

In [16]:
# 튜플은 요소 변경/추가/삭제 불가
a[0] = 0    # 요소 변경시 에러

TypeError: 'tuple' object does not support item assignment

##### - 딕셔너리

In [17]:
person = {
    'name' : 'sally',
    'age' : 23,
    'height' : 165,
    'job' : 'student'
}
person

{'name': 'sally', 'age': 23, 'height': 165, 'job': 'student'}

In [18]:
person = dict(name='sally', age=23, height=165, job='student')
person

{'name': 'sally', 'age': 23, 'height': 165, 'job': 'student'}

In [19]:
person['name']    # 'sally'

'sally'

In [20]:
person['job'] = 'developer'
person

{'name': 'sally', 'age': 23, 'height': 165, 'job': 'developer'}

### 인덱싱과 슬라이싱

In [21]:
l = list(range(10))
print("전체 list : ", l)
print("인덱스가 5인 값 : ", l[5])
print("앞의 5개 값 슬라이싱 : ", l[:5])
print("앞의 5개 값 슬라이싱 : ", l[0:5])

전체 list :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
인덱스가 5인 값 :  5
앞의 5개 값 슬라이싱 :  [0, 1, 2, 3, 4]
앞의 5개 값 슬라이싱 :  [0, 1, 2, 3, 4]

### 조건문

In [22]:
x = 10
if x == 10:
    print("x는 10이다.")

x는 10이다.

In [23]:
x = 15
if x >= 10:
    print("x는 10이상이다.")
    
    if x == 10 :
        print("x는 10이다.")
    if x == 15 :
        print("x는 15이다.")

x는 10이상이다.
x는 15이다.

In [24]:
x = 15
if x < 10:
    print("x는 10 미만이다.")
elif 10<= x <20:
    print("x는 10이상 20 미만이다.")
else:
    print("x는 20이상이다.")

x는 10이상 20 미만이다.

### 반복문
##### - for

In [25]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
# 리스트를 반복문에 사용하기
l = [0, 10, 20, 30, 40, 50]

for value in l:
    print(value)

0
10
20
30
40
50

In [27]:
# 튜플을 반복문에 사용하기
t = ('enjoy','nlp','with','me')

for value in t:
    print(value)

enjoy
nlp
with
me

##### - while

In [28]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

##### - break와 continue

In [29]:
i = 0
while True :
    if i == 5:
        break
    print(i)
    i += 1

0
1
2
3
4

In [30]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

### 함수

In [31]:
def hello():
    print("hello world")

In [32]:
hello()

hello world

In [33]:
def add(x,y):
    print(x+y)

In [34]:
add(10,5)    # 15 출력

15

In [35]:
def add(x,y):
    return x+y

In [36]:
a = add(10,5)
print(a)    # 15출력

15

### 클래스

In [37]:
class Dog:
    def barking(self):
        print("왈왈")

In [38]:
happy = Dog()    #인스턴스 생성
happy.barking()  #메서드 호출

왈왈

In [39]:
class Dog:
    def __init__(self):
        self.speak = '왈왈'
    
    def barking(self):
        print(self.speak)

In [40]:
happy = Dog()    
happy.barking()  # 왈왈 출력

왈왈

In [41]:
class Dog:
    def __init__(self,name,age):
        self.name = name
        self.age = age

In [42]:
happy = Dog('happy',4)
print("강아지 이름 : ", happy.name)
print("강아지 나이 : ", happy.age)

강아지 이름 :  happy
강아지 나이 :  4